node_modules
*/node_modules
dist

*/.vscode
*/.clasp.json

*/test

/orders_manager/src/features/updateStock/config/sheetsIDs.js

/stock_manager/src/entities/sheetData/config/index.js
/stock_manager/src/features/selectImage/config/index.js
/stock_manager/src/shared/api/config/api-key.js
/stock_manager/src/shared/api/config/service-account.js



